<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>วางแผนชั้นวางของจากเหล็กฉากเจาะรู</title>
	
<style>
	.line { border: 1px solid #333; user-select: none; width: 900px; margin-top: 10px;}
	.part { display: inline-block; text-align: center; background-color: #67917d; box-shadow:0px 0px 0px 1px #333 inset;}
	.partL {background-color: #acac3c;}
	.partW {background-color: #6969D0;}

</style>
</head>
<body>
	<h2>วางแผนชั้นวางของจากเหล็กฉากเจาะรู</h2>
	<hr />
	
	<div id="vue">
		<table>
			<tr>
				<td>จำนวนชั้นวาง</td>
				<td><input type="" v-model="count" placeholder="ตัวเลข"/></td>
			</tr>
			<tr>
				<td>ความสูงรวม (H)</td>
				<td><input type="" v-model="D_hight" placeholder="ตัวเลข"/></td>
			</tr>
			<tr>
				<td>ความยาวชั้น (L)</td>
				<td><input type="" v-model="D_long" placeholder="ตัวเลข"/></td>
			</tr>
			<tr>
				<td>ความกว้างชั้น (W)</td>
				<td><input type="" v-model="D_width" placeholder="ตัวเลข"/></td>
			</tr>
		</table>
		<hr />
		<div>{{info}}</div>
		<div>แผ่นประกบมุม = {{cornner}} แผ่น</div>
		<div>น๊อตยึดมุม = {{cornner*3}} ชุด</div>
		<div>------------------------------</div>
		<div>ท่อนตั้ง {{D_hight}}cm จำนวน 4 ท่อน</div>
		<div>ท่อนยาว {{D_long}}cm จำนวน {{count*2}} ท่อน</div>
		<div>ท่อนกว้าง {{D_width}}cm จำนวน {{count*2}} ท่อน</div>
		<hr />
		<div>ใช้เหล็กฉาก 3 เมตร จำนวน {{linecut.length}} เส้น ตัดท่อนตามรูป</div>
		<br />
		<div class="line" v-for="(line, i) in linecut" >
			<span class="part" v-for="part in line" v-bind:class="{'partL': part==D_long, 'partW': part==D_width}" v-bind:style="{ width: (part*3) + 'px' }">{{part}}</span>
		</div>
	
	</div>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
	<script>
	
	var ch1 = localStorage.getItem('char1');
	/*if(!ch1)
		ch1 = 'โครงการ 1:120x4:40x4,โครงการ 2:120x8:40x8,โครงการ 3:120x8:40x8';*/
	
	var vueapp = new Vue({
		el:'#vue',
		data:{
			proj: 1,
			on_edit:0,
			inline: 32,
			count: 5,
			D_hight: 180,
			D_long: 120,
			D_width: 40,
			info: '',
			rail_draw: [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0],
		},
        computed: {
			cornner: function () {
			// `this` points to the vm instance
				return (this.count*4*2);
			},
			linecut: function () {
				var part_list = new Array(Number(this.D_hight), Number(this.D_hight), Number(this.D_hight), Number(this.D_hight));
				for(ii = 0; ii < this.count*2; ii++)
					part_list.push(Number(this.D_long));
				for(ii = 0; ii < this.count*2; ii++)
					part_list.push(Number(this.D_width));
				var all_item = part_list.length;
				var part_item = new Array();
				var corect_item = 0;

				//console.log('part_list = ', part_list, all_item);
				while (corect_item < all_item) {
					var line = new Array();
					for(ii = 0; ii < all_item; ii++){
						if(line.reduce((a, b) => a + b, 0) + part_list[ii] <= 300){
							line.push(part_list[ii]);
							part_list[ii] = 500;
							corect_item++;
						}
					}
					part_item.push(line);
				}
				
				//console.log('part_item = ', part_item);
				return part_item;
			}
        },
	});
	
	</script>
</body>
</html>