<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>แผนการตัดวัสดุ ชั้นวางของจากเหล็กฉากเจาะรู</title>
	
<style>
	input { color: blue; width: 50px; font-weight: bold; text-align: right; padding-right: 10px; background-color: #DDD;}
	B { color: blue;}
	.line { border: 1px solid #333; user-select: none; width: 900px; margin-top: 10px;}
	.part { display: inline-block; text-align: center; background-color: #67917d; box-shadow:0px 0px 0px 1px #333 inset;}
	.partL {background-color: #acac3c;}
	.partW {background-color: #6969D0;}

</style>
</head>
<body>
	<h2>แผนการตัดวัสดุ ชั้นวางของจากเหล็กฉากเจาะรู</h2>
	<hr />
	
	<div id="vue">
		<table>
			<tr>
				<td>จำนวนชั้นวาง</td>
				<td><input type="" v-model="count" placeholder="ตัวเลข"/></td>
				<td></td>
			</tr>
			<tr>
				<td>ความสูงรวม (H)</td>
				<td><input type="" v-model="D_hight" placeholder="ตัวเลข"/> cm</td>
				<td>...ท่อนตั้งจำนวน <b>4</b> ชิ้น</td>
			</tr>
			<tr>
				<td>ความยาวชั้น (L)</td>
				<td><input type="" v-model="D_long" placeholder="ตัวเลข"/> cm</td>
				<td>...ท่อนยาวจำนวน <b>{{count*2}}</b> ชิ้น</td>
			</tr>
			<tr>
				<td>ความกว้างชั้น (W)</td>
				<td><input type="" v-model="D_width" placeholder="ตัวเลข"/> cm</td>
				<td>...ท่อนกว้างจำนวน <b>{{count*2}}</b> ชิ้น</td>
			</tr>
		</table>
		<hr />
		<table>
			<tr>
				<td>ราคาเหล็กฉากเจาะรู 1 เส้น</td>
				<td><input type="" v-model="line_price" placeholder="ตัวเลข"/> บาท</td>
				<td> , ราคาแผ่นประกบมุม 1 ถุง (20 แผ่น)</td>
				<td><input type="" v-model="plate_price" placeholder="ตัวเลข"/> บาท</td>
				<td> , ราคาน๊อต 1 ถุง (40 ตัว)</td>
				<td><input type="" v-model="nut_price" placeholder="ตัวเลข"/> บาท</td>
			</tr>
		</table>
		<div>------------------------------</div>
		<div>ใช้เหล็กฉากเจาะรู 3 เมตร จำนวน <b>{{linecut.length}} เส้น</b> ตัดท่อนตามรูป --- รวมราคาเหล็กเต็มเส้นที่ใช้ทั้งหมด <b>{{line_price*linecut.length}} บาท</b></div>
		<div>แผ่นประกบมุม = <b>{{cornner}} แผ่น</b>  [ประมาณ {{pack_cornner}} ถุง] --- รวมราคา <b>{{plate_price*pack_cornner}} บาท</b></div>
		<div>น๊อตยึดมุม = <b>{{cornner*3}} ชุด</b>  [ประมาณ {{pack_nut}} ถุง] --- รวมราคา <b>{{nut_price*pack_nut}} บาท</b></div>
		<div>------------------------------ รวมราคาทั้งหมด <b>{{(line_price*linecut.length)+(plate_price*pack_cornner)+(nut_price*pack_nut)}} บาท</b></div>
		<hr />
		<div class="line" v-for="(line, i) in linecut" >
			<span class="part" v-for="part in line" v-bind:class="{'partL': part==D_long, 'partW': part==D_width}" v-bind:style="{ width: (part*3) + 'px' }">{{part}}</span>
		</div>
	
	</div>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
	<script>
	
	var ch1 = localStorage.getItem('char1');
	/*if(!ch1)
		ch1 = 'โครงการ 1:120x4:40x4,โครงการ 2:120x8:40x8,โครงการ 3:120x8:40x8';*/
	
	var vueapp = new Vue({
		el:'#vue',
		data:{
			count: 5,
			D_hight: 180,
			D_long: 120,
			D_width: 40,
			line_price: 130, 
			nut_price: 55,
			plate_price: 50,
			info: '',
			rail_draw: [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0],
		},
        computed: {
			cornner: function () {
			// `this` points to the vm instance
				return (this.count*4*2);
			},
			pack_cornner: function () {
				return Math.ceil((this.count*4*2)/20);
			},
			pack_nut: function () {
				return Math.ceil((this.count*4*6)/40);
			},
			linecut: function () {
				var part_list = new Array(Number(this.D_hight), Number(this.D_hight), Number(this.D_hight), Number(this.D_hight));
				for(ii = 0; ii < this.count*2; ii++)
					part_list.push(Number(this.D_long));
				for(ii = 0; ii < this.count*2; ii++)
					part_list.push(Number(this.D_width));
				var all_item = part_list.length;
				var part_item = new Array();
				var corect_item = 0;

				//console.log('part_list = ', part_list, all_item);
				while (corect_item < all_item) {
					var line = new Array();
					for(ii = 0; ii < all_item; ii++){
						if(line.reduce((a, b) => a + b, 0) + part_list[ii] <= 300){
							line.push(part_list[ii]);
							part_list[ii] = 500;
							corect_item++;
						}
					}
					part_item.push(line);
				}
				
				//console.log('part_item = ', part_item);
				return part_item;
			}
        }
	});
	
	</script>
</body>
</html>